
$base-hue:30deg;
$saturation:95%;
$lightness:80%;
$rotation:60;


$clr-primary-1: hsl(60deg, 68%, 65%);
$clr-primary-2: hsl(30deg, 100%, 38% );
$clr-primary-3: hsl(10deg, 100%, 27%);
$clr-primary-4: hsl(348deg, 97%, 15%);
$clr-primary-5 :hsl(87deg, 100%, 77%);

$clr-black: hsl(216deg, 7%, 15%);
$clr-white: hsl(206deg, 100%, 96%);



$test-clr-1: hsl(($base-hue), ($saturation),($lightness));







$bg-opacity:hsla(0, 0%, 100%, 0.5);















